<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="panel panel-info" th:insert="module/user"></div>
	<h1>学生リスト</h1>
	<a href="#" th:href="@{/}">リンク</a>
	<th:block th:if="${ session.user.isAuth() }">
	<table class="table">
		<tr><th>学年</th><th>クラス</th><th>名前</th><th>フリガナ</th><th>生年月日</th><th></th></tr>
		<tr th:if="${!#lists.isEmpty(stulist)}" th:each="student : ${ stulist }" >
			<td th:text="${ student.grade + '年' }">3年</td>
			<td th:text="${ student.className }">情報クラス</td>
			<td th:text="${ student.name }">大原太郎</td>
			<td th:text="${ student.furi }">オオハラタロウ</td>
			<td th:text="${ student.birth }">1999/01/01</td>
			<td>
			<a href="#" th:href="@{/student/detail.action(id=${ student.id })}">詳細</a>
			<a href="#" th:href="@{/student/update.action(id=${ student.id })}">編集</a>
			<a href="#" th:href="@{/student/delete.action(id=${ student.id })}">削除</a>
			<a href="#" th:href="@{/exam/create.action(id=${ student.id })}" >点数登録</a>
			</td>
		</tr>
	</table>
	<a href="#" th:href="@{/student/create.action}" >学生登録</a>
	</th:block>
	<th:block th:if="${ !session.user.isAuth() }">
	<p>ユーザーログインをお願いします。</p>
	</th:block>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>