<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="panel panel-info" th:insert="module/user"></div>
	<h1>学生リスト</h1>
	<a href="#" th:href="@{/}">リンク</a>
	<table>
		<tr><th>名前</th><th>フリガナ</th><th>生年月日</th><th>科目名</th><th>点数</th><th></th></tr>
		<tr th:if="${!#lists.isEmpty(examlist)}" th:each="exam : ${ examlist }" >
			<td th:text="${ exam.student.name }">大原太郎</td>
			<td th:text="${ exam.student.furi }">オオハラタロウ</td>
			<td th:text="${ exam.student.birth }">1999/01/01</td>
			<td th:text="${ exam.subjectName }">数学</td>
			<td th:text="${ exam.point }">100</td>
			<td>
			<a href="#" th:href="@{/exam/detail.action(id=${ exam.id })}">詳細</a>
			<a href="#" th:href="@{/exam/update.action(id=${ exam.id })}">編集</a>
			<a href="#" th:href="@{/exam/delete.action(id=${ exam.id })}">削除</a>
			</td>
		</tr>
	</table>
	<a href="#" th:href="@{/student/create.action}" >学生登録</a>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>