<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="panel panel-info" th:insert="module/user"></div>
	<h1>Thymeleaf 3 + Servlet 3 example</h1>
	<p>Hello <span th:text="${recipient}">Peter</span>!!!</p>
	<a href="#" th:href="@{/}">リンク</a>
	<table>
		<tr><th>名前</th><th>科目</th><th>得点</th></tr>
		<tr th:if="${!#lists.isEmpty(examlist)}" th:each="exam : ${ examlist }" >
			<td th:text="${ exam.student.name }">999</td>
			<td th:text="${ exam.subjectName }">英語</td>
			<td th:text="${ exam.point }">100</td>
		</tr>
	</table>
	<a href="#" th:href="@{/student/create.action}" >学生登録</a>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>