<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="panel panel-info" th:insert="module/user"></div>
	<a class="btn btn-primary" href="#" th:href="@{/student/list.action}" >学生一覧</a>
	<a class="btn btn-primary"  th:href="@{/student/create.action}" >学生登録</a>
	<p>独り言：今回、課題の制作目的を「ひととおりServletを学習した学生、または若い先生が、<br>
	次に勉強する指針」としております。詳細についてはソースファイルのほうを参照してください。</p>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>