<div class="panel-body" xmlns:th="http://www.thymeleaf.org">
	<form class="form-inline" method="post" th:action="@{/user.action}" >
	<th:block th:if="${ session.user.isAuth() }">
		<p>ようこそ、<span th:text="${ session.user.getRealName() }">ユーザー</span>さん
		<input type="submit" class="btn btn-danger btn-sm" name="logout" value="ログアウト" /></p>
	</th:block>
	<th:block th:if="${ !session.user.isAuth() }">
	<div class="form-group">
		<label for="userId">ユーザーID：</label>
		<input type="text" name="userId" value="" />
		<label for="userPass">パスワード：</label>
		<input type="password" name="userPass" value="" />
		<input type="submit" class="btn btn-primary btn-sm" name="login" value="ログイン" />
		<!-- <a class="btn btn-success" href="./user?register=true">新規登録</a>  -->
	</div>
	</th:block>
	</form>
</div>